:root {
  --color-primary-hover: #07857f;
  --color-primary: #009a93;
  --color-primary-500: #32aea9;
  --color-primary-300: #5abcb8;
  --color-primary-200: #81c8c5;
  --color-primary-100: #b7d8d6;
  --color-primary-50: #ddf1f0;
  --color-primary-10: #f0fcfb;

  --color-yellow: #fdf3d8;
  --color-blue: #238ef1;
  --color-green: #04c523;
  --color-gray: #ced4da;

  --color-text-header: #ced4da;
  --color-text-header-sub: #434c4c;
  --color-text-form: #677272;
  --color-text-wait: #868e96;
  --color-text: #757575;
  --color-text-disable: #9e9e9e;
  --color-red: #f65858;
  --color-red-bg: #fff6f6;

  --color-border: #dce5e5;
  --color-border-item: #dee2e6;
  --color-divide: #edf0f2;
}
