@import "./button";

input,
textarea {
  border: 0;
  outline: 0;
}

.form-control {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.form-control-label {
  display: flex;
  flex: 0 0 120px;
  gap: 6.5px;
  width: 120px;
  height: 33px;
  padding-right: 10px;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;

  span {
    font-size: 13px;
    font-weight: 500;
    color: #434c4c
  }
}

.form-control-label+.form-control-container {
  flex: 0 0 calc(100% - 120px);
  width: calc(100% - 120px);
}

.form-control-container {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .form-control-content {
    flex: 1 1 auto;
    min-width: 176px;

    &:hover {
      .form-control-input {
        background-color: #f0fcfb;
        border-color: #5abcb8;
      }
    }

    &:focus {
      .form-control-input {
        background-color: #fff;
        border-color: #5abcb8;
      }
    }
  }

  .form-control-container-unit {
    gap: 6px;
  }

  .form-control-container-gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px 20px;
  }
}

.form-control-content {
  width: 100%;
  position: relative;

  .is-button {
    display: flex;

    [class^="form-control"] {
      flex: 1 0 0;
    }

    .button {
      margin-left: 10px;
    }
  }

  &:hover {
    .form-control-input {
      background-color: #f0fcfb;
      border-color: #5abcb8;
    }
  }

  &:focus {


    .form-control-input {
      background-color: #fff;
      border-color: #5abcb8;
    }
  }
}

.form-text {
  line-height: 34px;
  font-weight: 400;
  font-size: 12px;
  color: #32aea9;
}

.form-control-input {
  display: flex;
  min-height: 34px;
  padding: 0 10px;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dce5e5;
}

input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  color: #677777;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #b0baba;
}

.form-control-button {
  display: inline-flex;
  gap: 7px;

  button {
    font-size: 14px;
    padding: 0;
  }
}

.form-control-unit {
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  color: #677272;
  white-space: nowrap;
}

.autoComplete-input {
  .form-control-button {
    .button-close-circle {
      display: inline-block;
    }
  }
}

.focused {
  .form-control-input {
    .form-control-input {
      background-color: #fff;
      border-color: #5abcb8;
    }
  }

  .form-control-button {
    .button-close-circle {
      display: inline-block;
    }
  }
}

.required {
  .form-control-label {
    &>span {
      &::after {
        content: "*";
        content: #f65858;
      }
    }
  }
}

.readonly,
.disabled {
  .form-control-input {
    background-color: #f5f6f6;
    border-color: #dce5e5;

    &>*::placeholder {
      color: #8c9695;
    }

    .form-control-button {
      i {
        color: #b0baba;
        color: #c9cfcf;
      }
    }
  }

}