@import "./reset";

html,
body {
  color: #677272;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Pretendard', sans-serif;
}

.button-wrap {
  display: inline-block;
  position: relative;

  .dropdown-menu {
    right: -10px;
    top: calc(100% + 10px)
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 500;
  min-width: 120px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  li {
    a {
      display: flex;
      align-items: center;
      padding: 8px;
      color: #677272;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;

      i {
        margin-right: 5px;
        font-size: 14px;
      }
    }

    &:hover {
      a {
        color: #32aea9;
        background-color: #f5fcfb;
      }
    }
  }

  &.on {
    display: block;


  }
}